.product_details_img{
	margin: 20px 0;
}
.product_details_info{
	margin-left: 60px;
	span{
		color: #60d47e;
	}
	h3{
		font-size: 28px;
		
	}
}
.prduct-grid{

    .pro_img{
     
        .pro_price_add{
          
    
       
          
            z-index: 15;
            background: #000;

            a{
                color: #fff;
                display: inline-block;
                font-weight: bold;
                font-family: 'Raleway', sans-serif;
                
    width: 63%;
                &:focus{
                    box-shadow: none;
                }
            }
        }

    }

}
.product-counter {
    display: inline-block;
    input#quantity{
       background: none;
       color: #fff;
       width: 30px;
       outline: none;
       border: 0px;
       text-align: center;
       font-weight: bold;
       font-size: 20px;
       padding: 0px;
       &:focus{
           padding: 0;
       }
    }
}