
.footer-wrapper{
    padding: 80px;
    background:#000000;
    .f-logo{
        width: 80px;
    }
    .conatct-text{
        margin-left: 15px;
        color: #fff;
    }
    .location-text{
        margin-left: 15px;
        color: #fff;
    }
    .contact-num{
        margin-left: 15px;
        color: #fff;
    }
    .contact-icon{
        color: #fff;
    }
}             
.singel-menu-info{
  
    
    h5{
        font-weight: bold;
        color: #fff;
    }
    ul{
        li{
            list-style-type: none;
            a{
                font-size: 15px;
                text-decoration: none;
                color: #fff;
                display: inline-block;
            }
        }
    }
}
.footer-new{
    margin-left: 40px;
    h5{
        color: #fff;
    }
    p{
        color: #fff;
    }
    .input-grou {
        position: relative;
        input{
            background: none;
            border-radius: 15px;
            border: 1px solid #fff;
            &:focus{
                outline: none;
                border: 1px solid #fff;
                box-shadow: none;
            }
        }
        button{
            background: #f41d18;
            color: #fff;
            border: none;
            height: 34px;
            margin-top: 0.1px;
            outline: none;
            position: absolute;
            right: 2px;
            bottom: 2px;
            border-radius: 15px 15px;
            text-transform: uppercase;
           
        }
    }
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}