.header-wrapper{
    background: #353535;
    padding: 10px;
    .header-top-offer{
        
        p{
            color: #fff;
            font-weight: 500;
            padding: 0;
            margin: 0;
            @media #{$xs}{
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
    .social-icon{
        ul{
            li{
                display: inline-block;
                border: 1px solid #fff;
                border-radius: 100%;
                width: 35px;
                height: 35px;
                text-align: center;
                a{
                    color: #fff;
                    display: inline-block;
                    line-height: 35px;
                    i{

                    }
                }
            }
        }
    }
}
.header-middle{
    background: #353535;
}
.header-navigation{
    background-color: #f41d18;
}


// search bar 



.height {
    height: 100vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {
    height: 40px;
    text-indent: 25px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
   &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
      }
      
     &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
      }
      
     &::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff;
      }
   
}

.search input:focus {
    box-shadow: none;
    border: 1px solid #d6d4d4
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
    padding-right: 20px;
color: #fff;}


.search a.btn {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 34px;
    width: 110px;
    line-height: 18px;
    background-color: #f41d18;
    display: inline-block;
    color: #fff;
    border-radius: none;

  
}
.search .fa-search {
    position: absolute;
    top: 12px;
    left: 16px;
}
.main-nav img{
 width: 80px;
}
.header-middle-detalis {
    @media #{$sm}{
        margin: 10px 0;
    }
ul{
    display: inline-block;
    li{
        display: inline-block;
        list-style-type: none;
        margin: 0 5px;
        a{

        }
    }
}
}

.navtigation-wrapper{
    ul{
        li{
            list-style-type: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
            a{
                color: #fff;
                padding: 10px 0;
             display: inline-block;
                text-decoration: none;
               
            }
            i{
                margin-left: 7px;
               line-height: 15px;
             position: absolute;
             top: 13px; 
             color: #fff;
            }
        }
    }
}




@media #{$xs}{
 .search-bar{
     margin: 18px 0;
 }
}